<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-7 p-2 offset-md-2">
                <div class="card-shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header text-center">
                        <p class="fs-4 text-center">Admin Ekle</p>
                        <th:block th:if="${session.succMsg}">
                            <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/save-admin" enctype="multipart/form-data" method="post">
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Ad Soyad </label>
                                    <input class="form-control" name="name" type="text" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Telefon No </label>
                                    <input class="form-control" name="mobileNumber" type="number" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email </label>
                                <input class="form-control" name="email" type="email" required>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Adres </label>
                                    <input class="form-control" name="address" type="text" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Şehir </label>
                                    <input class="form-control" name="city" type="text" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Ülke</label>
                                    <input class="form-control" name="state" type="text" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Posta Kodu</label>
                                    <input class="form-control" name="pincode" type="number" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Şifre</label>
                                    <input class="form-control" name="password" type="password" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Şifre Tekrar</label>
                                    <input class="form-control" name="cpassword" type="password" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Profil Fotoğrafı</label>
                                <input class="form-control" name="img" type="file">
                            </div>
                            <button type="submit" class="btn bg-primary text-while col-md-12">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>