<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-1">
        <div class="row">
            <div class="text-center mt-2">
                <p class="text-center fw-bold fa-2x" style="color: #3366FF">Tüm Siparişler</p>
                <hr>
                <a href="/admin/" class="btn btn-sm bg-primary col-md-2"><i class="fa-solid fa-arrow-left"></i>Geri Dön </a>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <th:block th:if="${session.errorMsg}">
                    <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <div class="col-md-4 p-4">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="" placeholder="Sipariş Numarası Giriniz">
                            </div>
                            <div class="col">
                                <button class="bn29">Ara</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 ps-4 pe-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered card-sh">
                            <thead>
                            <tr>
                                <th scope="col">Sipariş Numarası</th>
                                <th scope="col">Sipariş Detayları</th>
                                <th scope="col">Sipariş Tarihi</th>
                                <th scope="col">Ürün Detayı</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İşlem</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="o:${orders}">
                                <th scope="row">[[${o.orderId}]]</th>
                                <td>
                                    Ad Soyad : [[${o.orderAddress.firstName + ' ' + o.orderAddress.lastName}]]<br>
                                    Email : [[${o.orderAddress.email}]]<br>
                                    Telefon No : [[${o.orderAddress.mobileNo}]]<br>
                                    Adres : [[${o.orderAddress.address}]]<br>
                                    Şehir : [[${o.orderAddress.city}]]<br>
                                    İlçe : [[${o.orderAddress.state}]], [[${o.orderAddress.pincode}]]
                                </td>
                                <td>[[${o.orderDate}]]</td>
                                <td>[[${o.product.title}]]</td>
                                <td>Adet : [[${o.quantity}]] <br>Fiyat :  [[${o.price}]] &#8378; <br>Toplam Fiyat :  [[${o.quantity * o.price}]] &#8378;</td>
                                <td>[[${o.status}]]</td>
                                <td>
                                    <form action="/admin/update-order-status" method="post">
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-control" name="st">
                                                    <option>SEÇ</option>
                                                    <option value="1">1 - Sipariş Alındı</option>
                                                    <option value="2">2 - Ürün Hazırlanıyor</option>
                                                    <option value="3">3 - Ürün Kargoya Verildi</option>
                                                    <option value="4">4 - Kargo Dağıtıma Çıktı</option>
                                                    <option value="5">5 - Teslim Edildi</option>
                                                    <option value="6">6 - İptal Edildi!</option>
                                                </select>
                                            </div>
                                            <input th:value="${o.id}" name="id" type="hidden">
                                            <div class="col">
                                                <th:block th:if="${o.status=='İptal Edildi!' || o.status=='Teslim Edildi'}">
                                                    <button class="btn btn-primary btn-sm col disabled">Güncelle</button>
                                                </th:block>
                                                <th:block th:unless="${o.status=='İptal Edildi!' || o.status=='Teslim Edildi'}">
                                                    <button class="btn btn-sm btn-primary" >Güncelle</button>
                                                </th:block>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>