<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="card card-sh">
            <div class="card-header text-center">
                <p class="fs-4">Kullanıcıları Görüntüle</p>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Profil</th>
                        <th scope="col">Ad Soyad</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefon Numarası</th>
                        <th scope="col">Adres</th>
                        <th scope="col">Durum</th>
                        <th scope="col">İşlem</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u,c:${users}">
                            <th scope="row">[[${c.count}]]</th>
                            <td>
                                <img th:src="@{'/img/profil/'+${u.profilImage}}" width="70px" height="70px">
                            </td>
                            <td>[[${u.name}]]</td>
                            <td>[[${u.email}]]</td>
                            <td>[[${u.mobileNumber}]]</td>
                            <td>[[${u.address + ',' + u.city + ',' + u.state + ',' + u.pincode}]]</td>
                            <td>[[${u.isEnable}]]</td>
                            <td>
                                <a th:href="@{'/admin/updateSts?status=true&id='+${u.id}}" class="btn btn-sm btn-primary">Aktif</a>
                                <a th:href="@{'/admin/updateSts?status=false&id='+${u.id}}" class="btn btn-sm btn-danger">İnaktif</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>