<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="text-center">
                <p class="text-center fw-bold fa-2x" style="color: #3366FF">Siparişlerim</p>
                <th:block th:if="${session.succMsg}">
                    <p class="text-success fw-bold">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <th:block th:if="${session.errorMsg}">
                    <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Sipariş Numarası</th>
                                <th scope="col">Sipariş Tarihi</th>
                                <th scope="col">Ürün Detayı</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İşlem</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="o:${orders}">
                                <th scope="row">[[${o.orderId}]]</th>
                                <td>[[${o.orderDate}]]</td>
                                <td>[[${o.product.title}]]</td>
                                <td>Adet : [[${o.quantity}]] <br>Fiyat :  [[${o.price}]] &#8378; <br>Toplam Fiyat :  [[${o.quantity * o.price}]] &#8378;</td>
                                <td>[[${o.status}]]</td>
                                <td>
                                    <th:block th:if="${o.status!='İptal Edildi!'}">
                                        <a th:href="@{'/user/update-status?id='+${o.id}+'&st=6'}" class="btn btn-sm btn-danger">İptal Et</a>
                                    </th:block>
                                    <th:block th:unless="${o.status!='İptal Edildi!'}">
                                        <a href="#" class="btn btn-sm btn-danger disabled" >İptal Et</a>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>