<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <p class="fs-3 text-center">Profilim</p>
                        <div class="text-center">
                            <img alt="" src="../img/profil/profil1.webp" class="border p-2" style="width: 110px; height: 110px; border-radius: 50%;">
                        </div>
                        <div class="col-md-6 offset-md-3">
                            <table class="table table-borderless">
                                <tbody>
                                <form>
                                    <tr>
                                        <th scope="row">Ad: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="Muhammed Furkan">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Telefon No:</th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="+90 541 895 22 28">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">E Mail: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="themfg.63@gmail.com">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Adres: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="Karaköprü Şanlıurfa">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">İlçe: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Şehir: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Posta Kodu: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Role: </th>
                                        <td>
                                            <input type="text" name="" class="form-control" value="">
                                        </td>
                                    </tr>
                                </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>