<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <i class="fa-solid fa-circle-check fa-5x text-success"></i>
                <p class="fs-3">Siparişiniz Oluşturuldu!</p>
                <p class="fs-4">Kargonuz 7 Gün İçerisinde Teslim Edilecektir.</p>
                <div class="text-center">
                    <a href="/" class="bn29 ">Ana Sayfa</a>
                    <a href="/order" class="bn29">Siparişlerim</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>