<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  <section>
      <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="img/corosel1.PNG" class="d-block w-100" alt="..." height="350px">
              </div>
              <div class="carousel-item">
                  <img src="img/corosel2.PNG" class="d-block w-100" alt="..." height="350px">
              </div>
              <div class="carousel-item">
                  <img src="img/corosel3.PNG" class="d-block w-100" alt="..." height="350px">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>

      <div class="container">
          <div class="row">
              <p class="text-center fs-4">Kategoriler</p>
              <div class="col-md-2" th:each="c:${category}">
                  <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body text-center">
                          <img th:src="@{'img/kategori/'+${c.imageName}}" width="65%" height="140px">
                          <p>[[${c.name}]]</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="container-fluid bg-light p-3">
          <div class="row">
              <p class="text-center fs-4">Son Eklenen Ürünler</p>
              <div class="col-md-3" th:each="p:${products}">
                  <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                      <div class="card-body text-center">
                          <img alt="" th:src="@{'img/ürünler/'+${p.image}}" class="" width="65%" height="140px">
                          <p class="text-center">[[${p.title}]]</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </section>
</body>
</html>